<div class="component view">
  <h2>Verification</h2>
  <div class="row">
    <div>
      <button type="button" class="btn" (click)="toResulting()">
        <mat-icon aria-hidden="false">keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
  <mat-tab-group id="detectionGroup" animationDuration="0ms" [selectedIndex]="selectedTab" (selectedIndexChange)="tabChanged($event)" class = "view-tabs">
    <!-- Editing a location -->
    <mat-tab label="Edit">
      <div class="col">
        <form [formGroup]="batchForm" (ngSubmit)="saveBatch()">
          <div class="row">
            <div class="form-group">
              <button class="btn btn-success" [disabled]="batchForm.invalid">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
              </button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-success" (click)="pullSpecimenInfo()">
                <span *ngIf="pulling" class="spinner-border spinner-border-sm mr-1"></span>
                Pull
              </button>
            </div>
            <div class="form-group">
              <button class="btn btn-success" [disabled]="verified()" (click)="publish()">
                <span *ngIf="publishing" class="spinner-border spinner-border-sm mr-1"></span>
                Publish
              </button>
            </div>
          </div>
          <fieldset disabled>
            <div class="row form-group">
              <mat-form-field>
                <mat-label>Batch Id</mat-label>
                <input matInput formControlName="batchId" id="batchId">
              </mat-form-field>
              <div class="form-group" formGroupName="lab">
                <mat-form-field>
                  <mat-label>Lab</mat-label>
                  <input matInput formControlName="name" id="lab">
                </mat-form-field>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <fieldset disabled class="form-group">
              <mat-form-field>
                <mat-label>Verification Personnel</mat-label>
                <input matInput formControlName="verificationPersonnel" id="verificationPersonnel">
              </mat-form-field>
            </fieldset>
            <div class="row form-group">
              <fieldset>
                <mat-form-field>
                  <mat-label>Verification Datetime</mat-label>
                  <input type="datetime-local" matInput formControlName="verificationDateTime" id="verificationDateTime">
                </mat-form-field>
              </fieldset>
              <button type="button" class="btn btn-success" (click)="now()">Now</button>
            </div>
          </div>
          <div class="row">
            <fieldset disabled class="form-group">
              <mat-form-field>
                <mat-label>Authorising Personnel</mat-label>
                <input matInput formControlName="authorisingPersonnel" id="authorisingPersonnel">
              </mat-form-field>
            </fieldset>
            <div class="row form-group">
              <fieldset>
                <mat-form-field>
                  <mat-label>Authorising Datetime</mat-label>
                  <input type="datetime-local" matInput formControlName="authorisingDateTime" id="authorisingDateTime">
                </mat-form-field>
              </fieldset>
              <button type="button" class="btn btn-success" (click)="authorise()">Now</button>
            </div>
          </div>
          <fieldset disabled>
            <div class="row">
              <div class="form-group">
                <mat-form-field formGroupName="instrument">
                  <mat-label>Instrument</mat-label>
                  <input matInput formControlName="name" id="instrument">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Batch Size</mat-label>
                  <input matInput formControlName="instrumentBatchSize" id="instrumentBatchSize">
                </mat-form-field>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Verification Status</mat-label>
              <mat-select formControlName="verificationStatus" id="verificationStatus">
                <mat-option value=""></mat-option>
                <mat-option value="0" selected>Incomplete</mat-option>
                <mat-option value="1" selected>Unverified</mat-option>
                <mat-option value="2" selected>Complete</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <div class="mat-elevation-z8 specimen-list">
              <mat-table [dataSource]="batchItems.controls" class="table table-bordered table-striped"
                style="width: 100%;">
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.get('position').value }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="specimen_barcode">
                  <mat-header-cell *matHeaderCellDef>Specimen Barcode</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.get('specimen_barcode').value }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="patient_first_name">
                  <mat-header-cell *matHeaderCellDef>Patient Name</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.get('patient.patient_first_name').value }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="patient_surname">
                  <mat-header-cell *matHeaderCellDef>Patient Surname</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.get('patient.patient_surname').value }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="identity_no">
                  <mat-header-cell *matHeaderCellDef>Patient Id</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.get('patient.identity_no').value }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="covidRnaResults" disabled>
                  <mat-header-cell *matHeaderCellDef>Results</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ getResults(row.get('covidRnaResults').value) }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="testVerifyResults">
                  <mat-header-cell *matHeaderCellDef>Verify Results</mat-header-cell>
                  <mat-cell *matCellDef="let row" [formGroup]="row">
                    <mat-form-field>
                      <mat-select formControlName="testVerifyResults" id="testVerifyResults" (selectionChange)="onVerifySelectionChange(row.value, $event)">
                        <mat-option value="" selected></mat-option>
                        <mat-option value="5" selected>Verified</mat-option>
                        <mat-option value="6" selected>Not Accepted</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="specimenColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: specimenColumns;"></mat-row>
              </mat-table>
              <!--mat-paginator 
                                #specimenPaginator="matPaginator" 
                                [pageSize]="10" 
                                [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                            </mat-paginator-->
            </div>
          </div>
        </form>
      </div>
    </mat-tab>

    <!-- Searching a location -->
    <mat-tab label="Search">
      <div class="col-md-12">
        <form #searchForm="ngForm" (ngSubmit)="searchBatches()">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Batch Id</mat-label>
              <input matInput [(ngModel)]="searchCriteria.batchId" name="searchBatchId" id="searchBatchId"
                #searchBatchId="ngModel" required="false">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Specimen Barcode</mat-label>
              <input matInput [(ngModel)]="searchCriteria.specimenBarcode" name="searchSpecimenBarcode"
                id="searchSpecimenBarcode" #searchSpecimenBarcode="ngModel" required="false">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Lab</mat-label>
              <mat-select [(value)]="searchCriteria.lab">
                <mat-option value="None"></mat-option>
                <mat-option *ngFor="let location of locations" [value]="location.code">
                  {{location.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="doSearch()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Search
        </button>
        <button type="button" class="btn btn-success" (click)="clearSearch()">Clear</button>
      </div>
      <div class="mat-elevation-z8">
        <div class="overlay">
          <div class="center">
            <mat-progress-bar [mode]="'indeterminate'" *ngIf="spLoading"></mat-progress-bar>
          </div>
        </div>
        <mat-table matSort [dataSource]="batches" #batchesSort="matSort" class="table table-bordered table-striped"
          style="width: 100%;">

          <ng-container matColumnDef=" ">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div class="form-group">
                <button class="btn btn-info" (click)="doEditBatch(row)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="batchId">
            <mat-header-cell *matHeaderCellDef>Batch Id</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.batchId }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="resultingPersonnel">
            <mat-header-cell *matHeaderCellDef>Verification Personnel</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.verificationPersonnel }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="resultingDateTime">
            <mat-header-cell *matHeaderCellDef>Verification Datetime</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.verificationDateTime }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="instrumentBatchSize">
            <mat-header-cell *matHeaderCellDef>Batch Size</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.instrumentBatchSize }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="resultingStatus">
            <mat-header-cell *matHeaderCellDef>Verification Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-form-field>
                <mat-select [(ngModel)]="row.verificationStatus" name="verificationStatus" id="verificationStatus"
                  #verificationStatus="ngModel" disabled="true">
                  <mat-option value=""></mat-option>
                  <mat-option value="0" selected>Incomplete</mat-option>
                  <mat-option value="1" selected>Unverified</mat-option>
                  <mat-option value="2" selected>Complete</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="searchColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: searchColumns;"></mat-row>

        </mat-table>
        <mat-paginator #batchesPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"
          showFirstLastButtons>

        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
