<div class="component">
    <mat-tab-group id="detectionGroup" animationDuration="0ms" [selectedIndex]="selectedIndex">
        <!-- Editing a location -->
        <mat-tab label="Edit">
            <div class="col">
                <form #resultingForm="ngForm" (ngSubmit)="saveVerificationBatch()">                    
                    <div class="row">  
                        <div class="form-group">  
                            <button class="btn btn-success" [disabled]="resultingForm.invalid">Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Batch Id</mat-label>
                                <input matInput disabled
                                [(ngModel)]="batch.batchId" name="batchId" id = "batchId" #batchId="ngModel" required="true">
                            </mat-form-field>
                        </div>
                        <div class="form-group">        
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Lab</mat-label>
                                    <input matInput
                                    [(ngModel)]="batch.lab.name" name="lab" id = "lab" #lab="ngModel" required="true" disabled="true">
                                </mat-form-field>
                            </div>  
                        </div>
                    </div>
                    <div class="row">  
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Verification Personnel</mat-label>
                                <input matInput  disabled = "true"
                                    [(ngModel)]="batch.verificationPersonnel" 
                                    name="verificationPersonnel" id = "verificationPersonnel" 
                                    #verificationPersonnel="ngModel" required="false">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Verification Datetime</mat-label>                                
                                <input matInput disabled = "true"
                                    [(ngModel)]="batch.verificationDateTime" 
                                    name="verificationDateTime" id = "verificationDateTime" 
                                    #verificationDateTime="ngModel" required="true">                                
                            </mat-form-field>
                            <button class="btn btn-success" (click)="now()">now</button>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="form-group">          
                            <mat-form-field>
                                <mat-label>Instrument</mat-label>                             
                                <input matInput disabled = "true"
                                    [(ngModel)]="batch.instrument.name" 
                                    name="instrument" id = "instrument" 
                                    #instrument="ngModel">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Batch Size</mat-label>
                                <input matInput
                                    [(ngModel)]="batch.instrumentBatchSize" 
                                    name="instrumentBatchSize" id = "instrumentBatchSize" 
                                    #instrumentBatchSize="ngModel" required="true" disabled = "true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">          
                        <mat-form-field>
                            <mat-label>Resulting Status</mat-label>
                            <mat-select [(ngModel)]="batch.verificationStatus" 
                                    name="verificationStatus" id = "verificationStatus" 
                                    #detectionStatus="ngModel" required="true">
                                <mat-option value="" selected></mat-option>
                                <mat-option value="Incomplete" selected>Incomplete</mat-option>
                                <mat-option value="Unverified" selected>Unverified</mat-option>
                                <mat-option value="Complete" selected>Complete</mat-option> 
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div >
                        <div class="mat-elevation-z8 specimen-list"> 
                            <mat-table [dataSource]="specimen" class="table table-bordered table-striped" style="width: 100%;">
                                <ng-container matColumnDef="specimen_barcode">
                                    <mat-header-cell *matHeaderCellDef>Specimen Barcode</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.specimen_barcode }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="patient_first_name">
                                    <mat-header-cell *matHeaderCellDef>Patient Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patient.patient_first_name }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="patient_surname">
                                    <mat-header-cell *matHeaderCellDef>Patient Surname</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patient.patient_surname }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="identity_no">
                                    <mat-header-cell *matHeaderCellDef>Patient Id</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{ row.patient.identity_no }} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="testVerifyResults">
                                    <mat-header-cell *matHeaderCellDef>Verify Results</mat-header-cell>                                    
                                    <mat-cell *matCellDef="let row">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="row.testVerifyResults" required = "false"
                                                        name="testVerifyResults" id = "testVerifyResults" 
                                                        #testVerifyResults="ngModel">
                                                <mat-option value="" selected></mat-option>
                                                <mat-option value="5" selected>Verified</mat-option>
                                                <mat-option value="6" selected>Not Accepted</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="covidRnaResults">
                                    <mat-header-cell *matHeaderCellDef>Results</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="row.covidRnaResults" 
                                                    name="covidRnaResults" id = "covidRnaResults" 
                                                    #testAssayResults="ngModel" disabled="true">
                                                <mat-option value=""></mat-option>
                                                <mat-option value="1" selected>Positive</mat-option>
                                                <mat-option value="2" selected>Negative</mat-option>
                                                <mat-option value="3" selected>Inconclusive</mat-option> 
                                                <mat-option value="4" selected>No Results</mat-option> 
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="specimenColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: specimenColumns;"></mat-row>            
                            </mat-table>
                            <mat-paginator 
                                #SpecimenPaginator="matPaginator" 
                                [length]="specimen.data.length" 
                                [pageSize]="10" 
                                [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>

        <!-- Searching a location -->
        <mat-tab label="Search">
            <div class="col-md-12">
                <form #searchForm="ngForm" (ngSubmit)="searchBatches()">
                    <div class="form-group">  
                        <mat-form-field>
                            <mat-label>Batch Id</mat-label>
                            <input matInput
                                [(ngModel)]="searchCriteria.batchId" name="searchBatchId" 
                                id = "searchBatchId" #searchBatchId="ngModel"  required="false">
                        </mat-form-field>
                    </div>
                    <div class="form-group">  
                        <mat-form-field>
                            <mat-label>Specimen Barcode</mat-label>
                            <input matInput
                                [(ngModel)]="searchCriteria.specimenBarcode" name="searchSpecimenBarcode" 
                                id = "searchSpecimenBarcode" #searchSpecimenBarcode="ngModel"  required="false">
                        </mat-form-field>
                    </div>
                    <div class="form-group"> 
                        <mat-form-field>
                            <mat-label>Lab</mat-label>
                            <mat-select [(value)]="searchCriteria.lab">
                                <mat-option value="None"></mat-option>
                                <mat-option *ngFor="let location of locations" [value]="location.code">
                                            {{location.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="form-group">  
                <button class="btn btn-success" (click)="searchBatches()">Search</button>
                <button type="button" class="btn btn-success" (click)="clearSearch()">Clear</button>
            </div>
            <div class="mat-elevation-z8">  
                <mat-table matSort [dataSource]="batches" #BatchesSort="matSort" class="table table-bordered table-striped" style="width: 100%;">

                    <ng-container matColumnDef=" ">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div class = "form-group">
                                <button class="btn btn-info" (click)="editBatch(row)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>    
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="batchId">
                        <mat-header-cell *matHeaderCellDef>Batch Id</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.batchId }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="resultingPersonnel">
                        <mat-header-cell *matHeaderCellDef>Resulting Personnel</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.resultingPersonnel }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="resultingDateTime">
                        <mat-header-cell *matHeaderCellDef>Resulting Datetime</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.resultingDateTime }} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="resultingStatus">
                        <mat-header-cell *matHeaderCellDef>Resulting Status</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.resultingStatus }} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="searchColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: searchColumns;"></mat-row>

                </mat-table>
                <mat-paginator 
                    #BatchesPaginator="matPaginator" 
                    [pageSize]="10" 
                    [pageSizeOptions]="[5, 10, 15]" 
                    showFirstLastButtons>

                </mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

