<div class="component">
    <h2>Detection</h2>
    <div class="row">
        <div>
            <button type="button" class="btn" (click)="toResulting()" >
                <mat-icon aria-hidden="false" >keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <mat-tab-group id="detectionGroup" animationDuration="0ms" [selectedIndex]="selectedIndex">
            <!-- Editing a location -->
            <mat-tab label="Edit">
                <div class="col">
                    <form #saveForm="ngForm">
                        
                        <div class="row">  
                            <div class="form-group">  
                                <button class="btn btn-success" [disabled]="saveForm.invalid">Save</button>
                            </div>
                            <div class="form-group">  
                                <button class="btn btn-success" (click)="newDetectionBatch()">New</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Batch Id</mat-label>
                                    <input matInput
                                    [(ngModel)]="batch.batchId" name="batchId" 
                                    id = "batchId" #batchId="ngModel" required="true"
                                    (blur)="fetchBatchData()">
                                </mat-form-field>
                            </div>
                            <div class="form-group">          
                                <mat-form-field>
                                    <mat-label>Lab</mat-label>
                                    <mat-select required="true" [formControl]="labControl">
                                        <mat-option value="new LocationVO()"></mat-option>
                                        <mat-option *ngFor="let lab of locations" [value]="lab.code">
                                            {{lab.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Detection Personnel</mat-label>
                                    <input matInput  disabled = "true"
                                        [(ngModel)]="batch.detectionPersonnel" 
                                        name="detectionPersonnel" id = "detectionPersonnel" 
                                        #detectionPersonnel="ngModel" required="false">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Detection Datetime</mat-label>                                    
                                    <input matInput disabled = "true" datetime="dd-MM-yyyy HH:mm:ss"
                                        [(ngModel)]="batch.detectionDateTime" 
                                        name="detectionDateTime" id = "detectionDateTime" 
                                        #detectionDateTime="ngModel" required="true">                                
                                </mat-form-field>
                                <button type="button" class="btn btn-success" (click)="now()">Now</button>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="form-group">          
                                <mat-form-field>
                                    <mat-label>Instrument</mat-label>
                                    <mat-select [formControl]="instrumentControl" required="true">
                                        <mat-option value="new Instrument('', '')" selected></mat-option>  
                                        <mat-option *ngFor="let instrument of instruments" [value]="instrument.code">
                                            {{ instrument.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Batch Size</mat-label>
                                    <input matInput
                                        [(ngModel)]="batch.instrumentBatchSize" 
                                        name="instrumentBatchSize" id = "instrumentBatchSize" 
                                        #instrumentBatchSize="ngModel" required="true" disabled = "true">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">          
                            <mat-form-field>
                                <mat-label>Detection Status</mat-label>
                                <mat-select [(ngModel)]="batch.detectionStatus" 
                                        name="detectionStatus" id = "detectionStatus" 
                                        #detectionStatus="ngModel" required="true">
                                    <mat-option value="" selected></mat-option>
                                    <mat-option value="0" selected>Incomplete</mat-option>
                                    <mat-option value="1" selected>Unverified</mat-option>
                                    <mat-option value="2" selected>Complete</mat-option> 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="detection-specimen">
                            <div>
                                <form id="addForm" #saveForm="ngForm" (ngSubmit)="addSpecimen()">
                                    <mat-form-field>
                                        <mat-label>Barcode</mat-label>
                                        <input matInput placeholder="Scan Barcode" [(ngModel)]="barcode" name="barcode" id="barcode">
                                    </mat-form-field>
                                    <button type="button" class="btn btn-success" (click)="addSpecimen()">Add</button>
                                </form>
                            </div>
                            <div class="mat-elevation-z8 specimen-list"> 
                                <mat-table [dataSource]="specimen" class="table table-bordered table-striped" style="width: 100%;">
                                    <ng-container matColumnDef="position">
                                        <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.position }} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="specimen_barcode">
                                        <mat-header-cell *matHeaderCellDef>Specimen Barcode</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.specimen_barcode }} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="patient_first_name">
                                        <mat-header-cell *matHeaderCellDef>Patient Name</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.patient.patient_first_name }} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="patient_surname">
                                        <mat-header-cell *matHeaderCellDef>Patient Surname</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.patient.patient_surname }} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="identity_no">
                                        <mat-header-cell *matHeaderCellDef>Patient Id</mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.patient.identity_no }} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="specimenColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: specimenColumns;"></mat-row>            
                                </mat-table>
                                <!--mat-paginator 
                                        #SpecimenPaginator="matPaginator" 
                                        [length]="specimen.data.length" 
                                        [pageSize]="10" 
                                        [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                                </mat-paginator-->
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
    
            <!-- Searching a location -->
            <mat-tab label="Search">
                <div class="col-md-12">
                    <form #searchForm="ngForm" (ngSubmit)="searchBatches()">
                        <div class="form-group">  
                            <mat-form-field>
                                <mat-label>Batch Id</mat-label>
                                <input matInput
                                    [(ngModel)]="searchCriteria.batchId" name="searchBatchId" 
                                    id = "searchBatchId" #searchBatchId="ngModel"  required="false">
                            </mat-form-field>
                        </div>
                        <div class="form-group">  
                            <mat-form-field>
                                <mat-label>Specimen Barcode</mat-label>
                                <input matInput
                                    [(ngModel)]="searchCriteria.specimenBarcode" name="searchSpecimenBarcode" 
                                    id = "searchSpecimenBarcode" #searchSpecimenBarcode="ngModel"  required="false">
                            </mat-form-field>
                        </div>
                        <div class="form-group"> 
                            <mat-form-field>
                                <mat-label>Lab</mat-label>
                                <mat-select [(value)]="searchCriteria.lab">
                                    <mat-option value="None"></mat-option>
                                    <mat-option *ngFor="let location of locations" [value]="location.code">
                                                {{location.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="form-group">  
                    <button class="btn btn-success" (click)="searchBatches()">Search</button>
                    <button type="button" class="btn btn-success" (click)="clearSearch()">Clear</button>
                </div>
                <div class="mat-elevation-z8">  
                    <mat-table matSort [dataSource]="batches" #BatchesSort="matSort" class="table table-bordered table-striped" style="width: 100%;">
    
                        <ng-container matColumnDef=" ">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <div class = "form-group">
                                    <button type="button" class="btn btn-info" (click)="editBatch(row)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>    
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="batchId">
                            <mat-header-cell *matHeaderCellDef>Batch Id</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.batchId }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="detectionPersonnel">
                            <mat-header-cell *matHeaderCellDef>Detection Personnel</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.detectionPersonnel }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="detectionDateTime">
                            <mat-header-cell *matHeaderCellDef>Detection Datetime</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.detectionDateTime }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="detectionStatus">
                            <mat-header-cell *matHeaderCellDef>Detection Status</mat-header-cell>  
                            <mat-cell *matCellDef="let row">       
                                <mat-form-field>
                                    <mat-select [(ngModel)]="row.detectionStatus" 
                                            name="detectionStatus" id = "detectionStatus" 
                                            #detectionStatus="ngModel" disabled="true">
                                        <mat-option value="" selected></mat-option>
                                        <mat-option value="0" selected>Incomplete</mat-option>
                                        <mat-option value="1" selected>Unverified</mat-option>
                                        <mat-option value="2" selected>Complete</mat-option> 
                                    </mat-select>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
    
                        <mat-header-row *matHeaderRowDef="searchColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: searchColumns;"></mat-row>
    
                    </mat-table>
                    <mat-paginator #BatchesPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                </div>
            </mat-tab>
    </mat-tab-group>
</div>
    
