
/************************** Style - Login ***********************************/

.login-container .mat-typography h2 {
    font: 500 50px/113px Roboto,Helvetica Neue,sans-serif;
}
.content[_ngcontent-gjf-c118] {
      border: 4px gray solid;
      padding-bottom: 60px;
      border-radius: 15px;
}
.login-container .mat-form-field {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.425;
}

.login-container .btn {
    font-weight: 500;
    padding: .75rem 15.75rem;
    font-size: 1.7rem;
}


.login-container .mat-form-field-infix {
   width: 34rem;
}

/*********************************End style - Login ***************************/